*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #f2f2f2;
  display: inline-block;
  font-family: 'Open sans', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 30px;
}

h1 span {
  background-clip: text;
  color: transparent;
  font-weight: 700;

  background: #f2709c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff9472,
    #f2709c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff9472,
    #f2709c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
}

form {
  width: 50%;
}

input {
  border: 0;
  height: 2rem;
  padding-left: 0.5rem;
  width: 100%;
}

button {
  background-color: #2e8882;
  border: none;
  color: #fff;
  font-size: 120%;
  height: 30px;
  margin-top: 1rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

.top-box {
  align-items: center;
  background: #007991; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78ffd6,
    #007991
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78ffd6,
    #007991
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 0;
  text-align: center;
}

.idea {
  color: #00a79d;
}

#body-input {
  margin-top: 1rem;
}

#search-input {
  margin-top: 50px;
  border: solid #999 1px;
}

.save-btn:disabled,
.save-btn:disabled:hover {
  background-color: rgb(189, 219, 216);
}

.save-btn:hover {
  background-color: #045e55;
}

.mid-box {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.mid-box div {
  width: 50%;
}

input {
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  justify-content: space-between;
  margin: auto;
}

.card-container {
  margin: auto;
  position: relative;
  width: 50%;
}

.card {
  background-color: #ffffff;
  height: auto;
  margin: auto;
  width: 50%;
}

.title-of-card {
  color: #6d6e71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 140%;
}

.completed h2,
.completed p {
  text-decoration: line-through;
}

.display-none {
  display: none;
}

h2 {
  color: #6d6e71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 150%;
}

p {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

.body-of-card {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

.card-container button {
  background-color: transparent;
  border: none;
}

.upvote {
  background-image: url(./images/upvote.svg);
  background-size: cover;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.upvote:hover {
  background-color: transparent;
  background-image: url(./images/upvote-hover.svg);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.downvote {
  background-image: url(./images/downvote.svg);
  background-size: cover;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.downvote:hover {
  background-image: url(./images/downvote-hover.svg);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.delete-button {
  background-image: url(./images/delete.svg);
  background-size: cover;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
}

.delete-button:hover {
  background-image: url(./images/delete-hover.svg);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.show-more {
  margin: 0 auto 4rem auto;
  width: 50%;
}

.display-none {
  display: none;
}

@media (max-width: 875px) {
  form,
  .mid-box div,
  .card-container {
    width: 75%;
  }
}

@media (max-width: 640px) {
  form,
  .mid-box div,
  .card-container {
    width: 85%;
  }
}
